.inspection-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    max-width: 680px !important;
    align-items: center;
    font-size: 12px;
    margin: auto auto 2em;
}

.inspection-card{
    margin-top: 5em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #ffffff !important;
    color: #4a4545 !important;
}

@media screen and (min-width: 780px){
    .inspection-card{
        min-width: 500px;
    }
}

@media screen and (max-width: 780px){
    .inspection-card{
        min-width: 300px;
    }
}

.inspection-page-header {
    letter-spacing: 10px;
    font-weight: 100;
    font-family: monospace;
    color: #6e6a6a;
}


.upload__inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload__btn {
    display: inline-block;
    text-align: center;
    min-width: 116px;
    padding: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: transparent !important;
    border: 1px solid #45AAB1 !important;
    color: #45AAB1 !important;
    border-radius: 5px;
    line-height: 26px;
    font-size: 14px;
}



.upload__btn:hover {
    background-color: unset;
    color: #4045ba;
    transition: all 0.3s ease;
}
.upload__btn-box {
    margin-bottom: 10px;
}
.upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.upload__img-box {
    width: 100px;
    padding: 0 10px;
    margin-bottom: 12px;
}
.upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
}
.upload__img-close:after {
    content: "✖";
    font-size: 14px;
    color: white;
}

.img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
}

.img-responsive{
    max-width: 400px;
}