
body{
    background: #D9D9D9;
    font-family: 'Poppins', sans-serif !important;
    font-size: 12px !important;
    width:100%;
    font-weight: 300;
    color:#524f4f;
}

.green-button {
    border-radius: 0 !important;
    background-color: #45AAB1 !important;
    color: #EEEEEE !important;
}

.transparent-green-button {
    background-color: transparent !important;
    border: 1px solid #45AAB1 !important;
    color: #45AAB1 !important;
  }

  .transparent-white-button {
    background-color: transparent !important;
    border: 1px solid #EEEEEE !important;
    color: #EEEEEE !important;
  }

  
.transparent-red-button {
    background-color: transparent !important;
    border: 1px solid #df6363 !important;
    color: #df6363 !important;
  }


.white-button {
    border-radius: 0 !important;
    background-color: #EEEEEE !important;
    color: #45AAB1 !important;
}

.container{
    width: 100%;
    margin: auto;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

a{
    /* color: #EEEEEE !important; */
    text-decoration: none!important;
}

/* navigation */



.aluve-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #45AAB1;
    height: 4em;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    color: #EEEEEE;
}

.navbar{
    width: 100% !important;
    font-size: 14px !important;
    font-weight: 250 !important;
}

.navbar-brand{
    font-size: 14px !important;
    color: #EEEEEE !important;
    margin-left: 5px !important;
    padding-left: 1em;
}

.nav-link{
    font-size: 14px !important;
    color: #EEEEEE !important;
    margin-right: 5px !important;
    padding-right: 1em;
}

#navbarSupportedContent{
    background: #45AAB1;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 999;
}

.green-text{
    color: #45AAB1;
}


.modal-content{
    font-weight: 200 !important;
    font-size: 14px;
}

#property_name {
    background: var(--bs-body-bg) !important;
    color: #45AAB1 !important;
    width:100%;
}


.header-property-name{
    background: var(--bs-body-bg) !important;
    color: #45AAB1 !important;
    width:100%;
}

.col-form-label{
    font-size: 14px !important;
}

@media only screen and (min-width: 1024px) {
    .w-md-50{
        width: 50% !important;
    }
}

@media only screen and (max-width: 1023px) {
    .w-sm-100{
        width: 100% !important;
    }
}

.btn{
    --bs-btn-font-weight: 200 !important;
}

.fa-solid{
    margin-left:1em;
}

.border-left-red{
    border-right: 10px solid #dc3545 !important;
}
 

li a{
    color: var(--bs-body-color) !important;
}

.ml-03{
    margin-left: 0.3em !important;
}

.font-10{
    font-size: 10px !important;
}

.main-content{
    max-width: 680px;
}


.border-shadow{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (min-width: 480px) {
    .border-shadow{
        padding:2em;
    }
}

#sidebarMenu{
    background-color: #45AAB1;
}

@media only screen and (min-width: 480px) {
    .p-sm-5{
        padding: 3rem !important;
    }
}


#page-header{
    letter-spacing: 10px;
    font-weight: 100;
    font-family: monospace;
    color: #6e6a6a;
}


.fa-circle-xmark {
    float: right;
    color: #9a9595b0 !important;
    font-size: 3em;
    /* margin-right: -13px; */
}

.orange-text{
    color: #FFA500;
}

.red-text{
  color: #df6363;
}

.blue-text{
    color: #0763f9;
}

.yellow-text{
    color: #ebd90a;
}

.purple-text{
    color: #6171d9;
}

.grey-text{
    color: #8b8c92;
}

.property-details a{
    color: #EEEEEE !important;
}

i{
    font-size: 20px;
  }

  .red-icon{
    color:#df6363 !important;
    font-size: 20px;
  }

  .spinner-border{
    position:absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    display:block;
    text-align:center;
    z-index: 1000;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.datepicker-days th, .datepicker-days td{
    padding:10px;
}

.fa-circle-xmark {
    float:right;
    color:#df6363 !important;
    margin-right: -18px;
}

.display-none{
    display: none;
}

.capitalize{
    text-transform: capitalize;
}

.solid-grey-border {
    border: 1px solid #ddd9d9 !important;
}

.box-shadow{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.day, .next, .prev, .clear{
    cursor: pointer;
}

.datepicker-switch{
    text-align: center!important;
}




@media only screen and (min-width: 480px) {
    #maintenance-div{
        min-width: 460px;
    }
}

@media only screen and (max-width: 480px) {
    #maintenance-div{
        min-width: 320px;
    }
}