.property-image{
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.bootstrap-icon-text::before{
    margin-right:1em !important;
    display: inline !important;
}

.display-none{
    display: none !important;
}

body{
    font-family: Arial, Sans;
    margin: 0;
}

@charset "UTF-8";
html * {
    box-sizing: border-box;
}

p {
    margin: 0;
}


.bi-trash-fill {
    cursor: pointer;
}

@media only screen and (max-width: 991px) {
    .aluve-nav {
        display: block;
    }
    #desktop-menu {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .aluve-nav{
        display: none;
    }
    #desktop-menu {
        display: block;
        background-color: #45AAB1;
    }
}